%p#notice
  = notice

%h1
  = @blog.title

%p
  %strong Title:
  = @entry.title

%p
  %strong Body:
  = @entry.body

= link_to 'Edit', edit_blog_entry_path(@blog, @entry)
|
= link_to 'Back', @blog

%h2 Listing comments

%table
  %thead
    %tr
      %th Body
      %th{colspan: "2"}

  %tbody
    - @entry.comments.each do |comment|
      %tr
        %td
          = comment.status == "approved" ? comment.body : "(承認待ち)"
        %td
          - if comment.status == "unapproved"
            = link_to 'Approve', approve_comment_path(comment), method: :patch
        %td
          = link_to 'Destroy', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }

%h2 New comment

= form_with(model: @comment, local: true) do |form|
  - if @comment.errors.any?
    #error_explanation
      %h2
        = pluralize(@comment.errors.count, "error")
        prohibited this comment from being saved:

      %ul
      - @comment.errors.full_messages.each do |message|
        %li
          = message

  .field
    = form.label :body
    = form.text_area :body

  .actions
    = form.submit
